<ng-container *ngFor="let message of messages | async">

    <div class="message" [ngClass]="{  'from': message.sentBy === 'bot',
                                        'to':  message.sentBy === 'user' }">
        
    {{message.content}}
    </div>


</ng-container> 

<label style="margin-left: 10px" for ="nameField">Your Message</label>

<input style="margin-left: 10px; width: 630px" [(ngModel)] = "formValue" (keyup.enter) ="sendMessage()" type="text">

<button style="margin-left: 10px"(click)="sendMessage()">Send</button>