<div>
    <!--<p>Welcome user {{masterName}} </p>-->
    <b style="margin-left:40px">Please enter your question</b>
    <div class="form-group row">
        <div class="form-control" class="col-6" style="margin-left: 40px; margin-top: 5px" >
            <input type="text"  [(ngModel)]="name" placeholder="question"  size="83 px"/>
        </div>
    </div>    
    <button type="button"  style="margin-left: 35px" class="btn btn-info" (click)="onSave()">Get Results!</button>
    <div style="margin-left: 35px; margin-top: 35px"><p>{{result}} </p></div> 
</div>
